<footer class="footer">
    <main class="main">
        <article class="foot-main">
            <div>
                <span>集团业务：</span>
                <ul>
                    <li><a target="_blank" href="https://www.bjbln.cn"><img src="/image/bln2.png" alt="博洛尼"></a></li>
                    <li><a target="_blank" href="https://www.50-jia.com"><img src="/image/50jia1.png" alt="五十家"></a></li>
                    <li><a target="_blank" href="https://www.ghyoho.com/"><img src="/image/gh1.png" alt="工汇有活"></a></li>
                    <li><a target="_blank" href="http://www.bijiangzb.com/"><img src="/image/bjzb1.png" alt="碧江资本"></a></li>
                </ul>
            </div>

            <img class="code" src="/image/code.jpg" alt="二维码">
        </article>
        <article class="footer-description">
            <span class="span-a">Copyright © 2020.广东欧昊集团有限公司 All rights reserved.</span>
            <span class="span-b"><a target="_black" href="https://beian.miit.gov.cn">粤ICP备17093350号</a></span>
            <span class="span-c">粤公网安备44060602000413号</span>
        </article>
    </main>
</footer>
</body>
<script type="text/javascript" src="/js/jquery1.11.1.min.js"></script>
<script type="text/javascript" src="/style/swiper.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script src="/js/<%= filePath %>.js"></script>

</html>