<%- include('./common/header',{title,filePath}) %>

<div class="join">
    <div class="join_img">
        <img src="/image/mobileImg/jiaru.png" alt="加入欧昊 成就梦想">
        <img src="/image/mobileImg/chengzhang.png" alt="员工成长">
        <img src="/image/mobileImg/daxue.png" alt="欧昊大学">
    </div>
    <div class="content">
        <section>
            <div class="title">
                <span>最新职位</span>
            </div>
            <div class="workList">
                <div class="join_work">
                    <h2>财务副经理</h2>
                    <div class="recruitment">
                        <div class="address">
                            <img src="image/join_place.jpg" alt="">
                            <span>广州</span>
                        </div>
                        <span>广东欧昊集团有限公司</span>
                        <span>财务经理</span>
                        <span>招聘1人</span>
                    </div>
                    <div class="recruitment data">
                        <div class="address">
                            <img src="image/join_time.jpg" alt="">
                            <span>发布于2020.05.12</span>
                        </div>
                    </div>
                </div>
                <div class="join_work">
                    <h2>开发报建经理</h2>
                    <div class="recruitment">
                        <div class="address">
                            <img src="image/join_place.jpg" alt="">
                            <span>广州</span>
                        </div>
                        <span>广东欧昊集团有限公司</span>
                        <span>开发报建</span>
                        <span>招聘2人</span>
                    </div>
                    <div class="recruitment data">
                        <div class="address">
                            <img src="image/join_time.jpg" alt="">
                            <span>发布于2020.05.12</span>
                        </div>
                    </div>
                </div>
                <a class="more" target='_blank' href="https://jobs.51job.com/all/co5821581.html">更多职位 > > </a>
            </div>
        </section>
        <section>
            <div class="title">
                <span>联系我们</span>
            </div>
            <!-- <ul class="company">
                <li class="adress" data-adress="shunde"> 欧昊集团（顺德总部）</li>
                <li>
                    地址：广东省佛山市顺德区碧桂园大道1号新翼广场1号16F
                </li>
                <li>
                    电话：0757-22104999
                </li>
            </ul> -->
            <ul class="company">
                <li class="adress" data-adress="beijing"> 欧昊集团（北京总部） </li>
                <li>
                    地址：北京市朝阳区北苑路甲1号
                </li>
            </ul>
            <ul class="company">
                <li class="adress" data-adress="shanghai"> 欧昊集团（上海总部） </li>
                <li>
                    地址：上海市杨浦区河间路235号碧桂园中心4号
                </li>
            </ul>
            <ul class="company">
                <li class="adress" data-adress="guangzhou"> 欧昊集团（广州在建） </li>
                <li>
                    地址：广州市南沙区灵山岛尖明珠湾起步区
                </li>
            </ul> 
        </section>
    </div>
</div>
<section class="model-warp hide">
    <section class="model">
        <div class="btn">百度地图</div>
        <div class="btn">高德地图</div>
        <div class="btn">腾讯地图</div>
        <div class="off">取消</div>
    </section>
</section>
<%- include('./common/footer.ejs') %>