</article>
<%- include('./nav.ejs') %>
</body>
<script type="text/javascript" src="/style/swiper.min.js"></script>
<script type="text/javascript" src="/js/jquery1.11.1.min.js"></script>
<script src="/js/mobile/<%= filePath %>.js"></script>

</html>