<!doctype html>
<html charset="utf8">

<head>
    <title>欧昊集团</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://50jia-website.oss-cn-beijing.aliyuncs.com/WM/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="https://50jia-website.oss-cn-beijing.aliyuncs.com/mobile/common.css" />
    <link rel="stylesheet" href="/style/swiper.min.css">
    <link rel="stylesheet" href="/style/mobile/common.css" />
    <link rel="stylesheet" href="/style/mobile/<%= filePath %>.css" />
    <link rel="shortcut icon" href="/image/ourhouseLogo.png" type="image/x-icon">
    <meta name="referrer" content="never">
    <script
        type="text/javascript">  document.documentElement.style.fontSize = document.documentElement.clientWidth / 750 * 100 + 'px';</script>
</head>

<body>
    <header>
        <div class="topBj">

        </div>
    </header>
    <article class="main-wrap">