<nav>
    <div>
        <a href="/">
            <img src="/image/mobileImg/index.png" alt="">
            <span>首页</span>
        </a>
        <a href="/ourHouse">
            <img src="/image/mobileImg/ohInfo.png" alt="">
            <span>欧昊简介</span>
        </a>
        <a href="/leader">
            <img src="/image/mobileImg/ggInfo.png" alt="">
            <span>高管简介</span>
        </a>
        <a href="/businessUnit">
            <img src="/image/mobileImg/business.png" alt="">
            <span>业务单元</span>
        </a>
        <a href="/joinUs">
            <img src="/image/mobileImg/join.png" alt="">
            <span>加入欧昊</span>
        </a>
    </div>
</nav>